/* ---------------------------------- RESET ---------------------------------- */
body {
  max-width: 1350px;
  width: 100%;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Old Standard TT", sans-serif;
  color: #3d3d3d;
}

li {
  list-style-type: none;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #3d3d3d;
}

input {
  outline: none;
}

select {
  outline: none;
}

.section-title {
  text-align: center;
  font-weight: bold;
  color: rgba(106, 96, 92, 0.3);
  position: relative;
  padding: 40px;
  background: transparent;
}
.section-title::after {
  content: "";
  display: block;
  position: absolute;
  background: #6a605c;
  width: 7%;
  height: 2px;
  left: 46.5%;
  top: 70%;
}

/* ------------------------------------ || ------------------------------------ */
/* MAIN CSS */
@media only screen and (min-width: 800px) {
  /* reset */
  body {
    width: 100%;
    margin: auto;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
  }

  #bg-img-left {
    position: fixed;
    top: -70px;
    left: -200px;
    z-index: -2;
    opacity: 0.1;
  }

  #bg-img-right {
    display: none;
    position: fixed;
    top: -70px;
    right: 0;
    transform: scaleX();
    z-index: -2;
    opacity: 0.8;
  }

  .section-title {
    font-size: 25px;
    color: rgba(106, 96, 92, 0.3);
    /* margin-top: 40px; */
    margin: 0;
  }

  img {
    border-radius: 20px;
  }
  img:hover {
    border-radius: 20px;
  }

  #section-collections,
#feature-products,
#section-featured,
#section-subscribe,
#section-footer {
    margin: 0;
    padding: 0;
  }

  /* header */
  header {
    width: 100%;
    height: auto;
    position: relative;
    top: 300px;
    z-index: 2;
  }
  header #logo {
    display: flex;
    position: absolute;
    z-index: 3;
    top: -190px;
    left: calc(100% / 3 + 6%);
    width: 20%;
  }
  header img {
    display: flex;
    margin: auto;
    padding: 17px 0 0 0;
    float: left;
  }
  header .menu-icon {
    display: none;
  }
  header nav {
    position: sticky;
    top: 0;
  }
  header nav #menu {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    position: sticky;
    top: 0;
  }
  header nav #menu li {
    padding: 0 30px;
    color: #8e8d8f;
    font-size: 10px;
    letter-spacing: 1px;
    transition: all 0.4s ease;
  }
  header nav #menu li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #a8ba9a;
    transition: all 0.3s ease;
  }
  header nav #menu li:hover {
    background: transparent;
    padding: 20px 30px;
  }
  header nav #menu li:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #a8ba9a;
  }

  .carousel {
    width: 100%;
    height: 500px;
    margin-top: 330px;
  }
  .carousel .item img {
    width: 1500px;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0;
  }

  .section-title {
    color: rgba(106, 96, 92, 0.8);
  }
  .section-title:first-child {
    margin-top: -20px !important;
  }
  .section-title:not(:last-child) {
    margin: 40px 0;
  }

  #section-collections {
    position: relative;
    margin-bottom: 60px;
    margin-top: 0;
    padding: 0 120px;
  }
  #section-collections #section-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }
  #section-collections #section-cards .box {
    height: 400px;
  }
  #section-collections #section-cards .box img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.4s ease;
  }
  #section-collections #section-cards .box img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(142, 141, 143, 0.5);
    cursor: pointer;
  }

  #feature-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 40px;
    padding: 0 120px;
  }
  #feature-products .prod img {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.4s ease;
  }
  #feature-products .prod img:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(142, 141, 143, 0.3);
    opacity: 0.7;
    cursor: pointer;
  }
  #feature-products .prod .prod-detail {
    text-align: center;
    padding: 30px 0;
  }
  #feature-products .prod .prod-detail h4 {
    font-size: 16px;
    color: #8e8d8f;
  }
  #feature-products .prod .prod-detail p {
    font-size: 18px;
    font-weight: bold;
    color: #8e8d8f;
  }

  .more-btn {
    background: #a8ba9a;
    border-radius: 10px;
    padding: 10px;
    color: #f7f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-left: 45%;
    transition: all 0.3s ease;
    font-size: 13px;
  }
  .more-btn:hover {
    background: #f7f1f1;
    color: #8e8d8f;
    border-radius: 10px;
  }

  #section-featured {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 40px;
    padding: 0 120px;
  }
  #section-featured #left img {
    width: 90%;
    height: 700px;
    transition: all 0.4s ease;
  }
  #section-featured #left img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(142, 141, 143, 0.3);
    opacity: 0.9;
    cursor: pointer;
  }
  #section-featured #right {
    margin: 80px 0;
    text-align: center;
  }
  #section-featured #right #feat-title {
    font-size: 25px;
    margin: auto;
    width: 50%;
    line-height: 40px;
    padding: 10px 0;
    color: #8e8d8f;
  }
  #section-featured #right p {
    padding: 40px 0;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: #8e8d8f;
  }
  #section-featured #right p::before {
    content: "";
    display: block;
    position: absolute;
    left: 48%;
    top: 10px;
    width: 30px;
    height: 2px;
    background: #8e8d8f;
  }
  #section-featured #right p::after {
    content: "";
    display: block;
    position: absolute;
    left: 48%;
    bottom: 10px;
    width: 30px;
    height: 2px;
    background: #8e8d8f;
  }
  #section-featured #right #feat-detail {
    font-weight: 100;
    font-size: 13px;
    line-height: 30px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    color: #8e8d8f;
  }
  #section-featured #right .btn {
    padding: 10px 20px;
    background-color: #a8ba9a;
    margin: 20px 0;
    color: #f7f1f1;
    font-size: 13px;
    transition: all 0.3s ease;
  }
  #section-featured #right .btn:hover {
    background: #f7f1f1;
    color: #8e8d8f;
    cursor: pointer;
  }

  #section-subscribe {
    background: rgba(168, 186, 154, 0.3);
    padding: 60px 120px;
  }
  #section-subscribe h3 {
    padding: 0;
    font-size: 25px;
    color: #8e8d8f;
    text-align: center;
  }
  #section-subscribe p {
    font-size: 13px;
    padding-bottom: 10px;
    color: #8e8d8f;
    text-align: center;
  }
  #section-subscribe form {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  #section-subscribe form input {
    border: none;
    outline: none;
    padding: 13px;
    width: calc(100% / 2);
  }
  #section-subscribe form input::-moz-placeholder {
    color: rgba(142, 141, 143, 0.5);
    font-style: italic;
    font-size: 13px;
  }
  #section-subscribe form input:-ms-input-placeholder {
    color: rgba(142, 141, 143, 0.5);
    font-style: italic;
    font-size: 13px;
  }
  #section-subscribe form input::placeholder {
    color: rgba(142, 141, 143, 0.5);
    font-style: italic;
    font-size: 13px;
  }
  #section-subscribe form #subscribe-btn {
    width: 100%;
    border: none;
    margin: auto;
    background: #a8ba9a;
    padding: 18px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #f7f1f1;
    transition: all 0.3s ease;
  }
  #section-subscribe form #subscribe-btn:hover {
    background: #f7f1f1;
    color: #8e8d8f;
    cursor: pointer;
  }

  /* footer */
  #section-footer {
    position: relative;
    width: 100%;
    height: 310px;
  }
  #section-footer #foot-left {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    padding: 145px 120px;
  }
  #section-footer #foot-left i {
    color: #a8ba9a;
    font-size: 20px;
    transition: all 0.4s ease;
  }
  #section-footer #foot-left i:hover {
    cursor: pointer;
  }
  #section-footer #foot-left i:not(:first-child) {
    padding-left: 20px;
  }
  #section-footer #foot-left i:not(:first-child)::after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 150px;
    background: rgba(142, 141, 143, 0.1);
    left: 280px;
    bottom: 80px;
  }
  #section-footer #foot-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #section-footer #foot-middle p {
    position: absolute;
    top: 140px;
    font-size: 12px;
    color: #8e8d8f;
  }
  #section-footer #foot-right {
    position: relative;
  }
  #section-footer #foot-right ul {
    display: block;
    text-align: left;
    position: absolute;
    right: 0;
    padding: 80px 120px;
  }
  #section-footer #foot-right ul li {
    padding: 10px;
    font-size: 10px;
  }
  #section-footer #foot-right ul li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #a8ba9a;
    transition: all 0.3s ease;
  }
  #section-footer #foot-right ul li:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #a8ba9a;
  }
  #section-footer #foot-right ul::after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 150px;
    background: rgba(142, 141, 143, 0.1);
    bottom: 80px;
    right: 280px;
  }

  #carousel-about {
    display: none;
  }

  .section-article {
    background: none;
    margin-top: 40px;
  }
  .section-article #intro {
    border: none;
    width: 80%;
    font-size: 15px;
    color: #8e8d8f;
    line-height: 30px;
    padding: 20px 120px;
    margin-top: 10px;
    margin: auto;
    text-align: center;
  }

  #section-article-about {
    display: none;
  }

  #about-me {
    margin-top: 330px;
  }

  #section-about {
    display: flex;
    justify-content: center;
    padding: 0 120px;
    margin: 60px 0;
  }
  #section-about #section-left img {
    width: 350px;
  }
  #section-about #section-right #about-title {
    font-family: "Pacifico", sans-serif;
    color: #8e8d8f;
    letter-spacing: 2px;
    font-size: 25px;
    text-align: center;
    padding: 40px;
    padding-top: 60px;
  }
  #section-about #section-right #about-detail {
    font-size: 13px;
    line-height: 30px;
    padding: 0 80px 80px 80px;
    text-align: center;
  }

  #about-bottom {
    font-size: 13px;
    line-height: 30px;
    padding: 40px 120px;
    text-align: center;
  }

  #carousel-terms {
    display: none;
  }

  #section-article-terms {
    margin-top: 330px;
  }

  #section-terms {
    width: 80%;
    margin: auto;
  }
  #section-terms p {
    font-size: 13px;
    text-align: justify;
    line-height: 30px;
    text-indent: 80px;
  }

  #carousel-contact {
    display: none;
  }

  #section-article-contact {
    display: none;
  }

  #section-contact {
    width: 60%;
    margin: 40px auto;
    margin-top: 330px;
    padding: 0 120px;
    text-align: center;
  }
  #section-contact form input {
    outline: none;
    width: 100%;
    border: none;
    padding: 10px;
    background: rgba(247, 241, 241, 0.7);
  }
  #section-contact form input::-moz-placeholder {
    font-size: 13px;
  }
  #section-contact form input:-ms-input-placeholder {
    font-size: 13px;
  }
  #section-contact form input::placeholder {
    font-size: 13px;
  }
  #section-contact form input:not(:nth-child(2)) {
    margin: 10px 0;
  }
  #section-contact form input:last-child {
    transition: all 0.4s ease;
    font-size: 13px;
  }
  #section-contact form input:last-child:hover {
    background: #a8ba9a;
    color: #f7f1f1;
  }
  #section-contact form textarea {
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    background: rgba(247, 241, 241, 0.7);
    border: none;
    width: 100%;
    outline: none;
  }
  #section-contact form textarea::-moz-placeholder {
    font-size: 13px;
    color: rgba(142, 141, 143, 0.5);
    font-style: italic;
    letter-spacing: 0.5px;
  }
  #section-contact form textarea:-ms-input-placeholder {
    font-size: 13px;
    color: rgba(142, 141, 143, 0.5);
    font-style: italic;
    letter-spacing: 0.5px;
  }
  #section-contact form textarea::placeholder {
    font-size: 13px;
    color: rgba(142, 141, 143, 0.5);
    font-style: italic;
    letter-spacing: 0.5px;
  }

  #carousel-shop {
    display: none;
  }

  #section-shop {
    width: 100%;
    padding: 0 120px;
    margin-top: 330px;
  }
  #section-shop #filter {
    display: flex;
    justify-content: center;
  }
  #section-shop #filter .filter-option {
    position: relative;
  }
  #section-shop #filter .filter-option select {
    padding: 10px 20px;
    font-size: 13px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    border: none;
    outline: none;
  }
  #section-shop #filter .filter-option:not(:last-child) {
    margin-right: 20px;
  }
  #section-shop #filter .filter-option .custom-arrow {
    position: absolute;
    top: 42%;
    right: 20px;
    background: #6a605c;
    width: 8%;
    height: 20%;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: scaleY(-1);
  }
  #section-shop #section-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
  }
  #section-shop #section-items .item {
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    transition: all 0.4s ease;
  }
  #section-shop #section-items .item:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  #section-shop #section-items .item:last-child {
    margin-bottom: 40px;
  }
  #section-shop #section-items .item img {
    padding-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.4s ease;
  }
  #section-shop #section-items .item img:hover {
    transform: scale(1.05);
  }

  #sixed-item {
    margin-top: -48px;
  }

  #section-title-products {
    margin-top: 40px !important;
  }

  #section-prod {
    margin: 40px 0 0 0;
    background: none;
    display: flex;
    justify-content: center;
    padding: 40px 120px;
  }
  #section-prod .prod-img img {
    width: 100%;
  }
  #section-prod #prod-detail-info {
    padding: 40px 40px;
  }
  #section-prod #prod-detail-info h4 {
    font-size: 25px;
    padding-bottom: 20px;
  }
  #section-prod #prod-detail-info #vat {
    padding-bottom: 20px;
    font-size: 12px;
  }
  #section-prod #prod-detail-info #info {
    font-size: 13px;
    width: 95%;
    line-height: 30px;
  }
  #section-prod #prod-detail-info #features {
    position: relative;
  }
  #section-prod #prod-detail-info #features select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    margin-top: 20px;
    width: 20%;
    padding: 10px;
    border: none;
    background: rgba(247, 241, 241, 0.8);
  }
  #section-prod #prod-detail-info #features #color-arrow {
    position: absolute;
    background: #6a605c;
    width: 10px;
    height: 10px;
    top: 36px;
    right: 82%;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
  #section-prod #prod-detail-info #features #size-arrow {
    position: absolute;
    background: #6a605c;
    width: 10px;
    height: 10px;
    top: 36px;
    right: 61.4%;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
  #section-prod #prod-detail-info #cart {
    position: absolute;
    background: #a8ba9a;
    color: #f7f1f1;
    padding: 10px 20px;
    margin-top: 40px;
    transition: all 0.4s ease;
    border-radius: 10px;
    border: none;
  }
  #section-prod #prod-detail-info #cart:hover {
    background: #f7f1f1;
    color: #8e8d8f;
    border-radius: 10px;
    cursor: pointer;
  }

  #section-prod-img {
    margin-bottom: 40px;
    background: none;
    display: flex;
    padding: 0 120px;
    justify-content: flex-start;
  }
  #section-prod-img .prod-img {
    transition: all 0.4s ease;
  }
  #section-prod-img .prod-img img {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0;
  }
  #section-prod-img .prod-img:not(:last-child) {
    margin-right: 20px;
  }
  #section-prod-img .prod-img:hover {
    transform: scale(1.08);
    cursor: pointer;
  }

  #section-reviews {
    margin: 40px 0;
    padding: 40px 0 0px 0;
    background: rgba(230, 230, 196, 0.3);
  }
  #section-reviews #buttons {
    display: flex;
    justify-content: center;
  }
  #section-reviews #buttons .prod-reviews {
    background: #a8ba9a;
    color: #f7f1f1;
    border-radius: 10px;
    padding: 3px 20px;
    transition: all 0.4s ease;
  }
  #section-reviews #buttons .prod-reviews:hover {
    background: #f7f1f1;
    color: #8e8d8f;
    cursor: pointer;
  }
  #section-reviews #buttons .prod-reviews:nth-child(2) {
    margin: 0 10px;
  }
  #section-reviews .filter-options {
    display: flex;
    justify-content: center;
    margin: 80px 0 40px 0;
    position: relative;
    outline: none;
  }
  #section-reviews .filter-options select {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    border: none;
    width: 15%;
    padding: 5px;
  }
  #section-reviews .filter-options #review-arrow-bg {
    position: absolute;
    top: 0;
    right: 42.5%;
    border: none;
    background: #f9f9f9;
    width: 40px;
    height: 100%;
  }
  #section-reviews .filter-options #review-arrow {
    position: absolute;
    top: 14px;
    right: 43.6%;
    border: none;
    background: #6a605c;
    width: 12px;
    height: 30%;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
  }

  .section-rev {
    padding: 20px 120px;
  }
  .section-rev:nth-child(odd) {
    background: #e6e6c4;
  }
  .section-rev h4 {
    font-size: 16px;
    font-weight: 800;
    position: relative;
  }
  .section-rev h4:after {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    width: 9%;
    height: 1.8px;
    background: #6a605c;
  }
  .section-rev .stars {
    display: flex;
    width: 1.5%;
  }
  .section-rev .stars .star-rev {
    color: #f7d377;
    padding: 20px 0 20px 0;
  }
  .section-rev p {
    text-align: justify;
    font-size: 13px;
  }
}
@media only screen and (max-width: 400px) {
  /* header */
  /* carousel */
  /* intro */
  /* collections */
  /* feature products */
  /* feature dection */
  /* subscribe */
  /* footer */
}/*# sourceMappingURL=main.css.map */